div{
    height:100px;
    width:100px;
    text-align:center;
    line-height:100px;
}

.boxA{
    background-color:silver;
}

.boxB{
    background-color:aquamarine;
}

.boxC{
    background-color:cornflowerblue;
}